amqp==5.3.1
arrow==1.3.0
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
billiard==4.2.1
binaryornot==0.4.4
blinker==1.9.0
bs4==0.0.2
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudinary==1.43.0
colorama==0.4.6
cookiecutter==2.6.0
crispy-bootstrap4==2024.10
cryptography==43.0.0
defusedxml==0.7.1
Django==5.1.6
django-background-tasks==1.2.8
django-browser-reload==1.18.0
django-cloudinary-storage==0.3.0
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-filter==24.3
django-oauth-toolkit==2.4.0
django-rest-framework-social-oauth2==1.2.0
django-storages==1.14.4
django-tailwind==3.8.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.0
drf-spectacular==0.28.0
Flask==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-oauth==1.0.1
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
idna==3.10
inflection==0.5.1
itsdangerous==2.2.0
Jinja2==3.1.5
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
kombu==5.4.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.3.0
oauthlib==3.2.2
pillow==11.2.1
prompt_toolkit==3.0.50
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.19.1
PyJWT==2.9.0
pyOpenSSL==24.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
python3-openid==3.2.0
pytube==15.0.0
pytz==2025.1
PyYAML==6.0.2
referencing==0.36.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.27.1
rsa==4.9
six==1.17.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.7
sqlparse==0.5.3
text-unidecode==1.3
tqdm==4.67.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.3.0
uv==0.7.9
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
WTForms==3.2.1
yt-dlp==2025.1.15
